:root {
  --gold: #C9A24D;
  --dark: #0F0F0F;
  --cream: #F9F5EF;
}

body {
  margin: 0;
  background-color: var(--cream);
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: var(--dark);
  padding: 1.2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  font-family: "Playfair Display", serif;
  color: var(--gold);
  letter-spacing: 2px;
}

.navbar a {
  color: var(--cream);
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 300;
}

.navbar a:hover {
  color: var(--gold);
}

/* HERO */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 100vh; /* fills full viewport */
  padding: 0 3rem;
  background: linear-gradient(
      rgba(15, 15, 15, 0.7),
      rgba(15, 15, 15, 0.7)
    )
}


.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  color: var(--gold);
}

.hero p {
  max-width: 600px;
  margin: 1rem auto;
  font-size: 1.1rem;
}

.primary-btn {
  margin-top: 2.2rem;
  padding: 0.9rem 2.6rem;
  background: linear-gradient(90deg, #c9a24d, #e5c36a);
  color: #111;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.primary-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(201, 162, 77, 0.35);
}


/* BUTTON */
.gold-btn {
  margin-top: 2rem;
  padding: 0.8rem 2.2rem;
  background: var(--gold);
  color: var(--dark);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
}

.gold-btn:hover {
  background: #b18b3c;
}

/* COLLECTION */
.features {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
}

.card {
  background: white;
  padding: 2rem;
  border: 1px solid var(--gold);
  width: 220px;
  text-align: center;
}

.card h3 {
  font-family: "Playfair Display", serif;
  color: var(--gold);
}

/* FOOTER */
.footer {
  background: var(--dark);
  color: var(--cream);
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
}

.products-section {
  padding: 4rem 3rem;
  background-color: var(--cream);
}

.section-title {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  text-align: center;
  color: var(--gold);
  margin-bottom: 3rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2.5rem;
}

.product-card {
  background: white;
  padding: 1.5rem;
  border: 1px solid var(--gold);
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
}

.image-wrapper {
  height: 260px;
  margin-bottom: 1rem;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card h3 {
  font-family: "Playfair Display", serif;
  color: #333;
}

.price {
  color: var(--gold);
  font-weight: 500;
  margin-top: 0.5rem;
}
